@import "colors";

.splash-nav {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 55px;
  background-color: $white;
  box-sizing: border-box;
  border-bottom: 1px solid $lightGray;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  width: 960px;
  max-width: 100%;
  height: 100%;
  margin: auto;
}

.nav-link-container {
  display: flex;
  align-items: center;
}

.nav-link {
  box-sizing: border-box;
  transition: 0.3s background-color ease;
  padding: 10px 20px;
  border: 1px solid $lightGray;
  border-radius: 5px;
  background-color: $white;
  text-decoration: none;
  color: $darkGray;
  font-weight: 300;
  display: block;
  margin-right: 10px;
}

.nav-link:last-of-type {
  margin-right: 0px;
}

.nav-link:hover {
  background-color: $lighterGray;
}

.nav-icon-container {
  max-height: 100%;
  height: 100%;
}

.nav-icon-img {
  box-sizing: border-box;
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
}
