@import "colors";
@import "vars";


.article-head {
  padding: 0px 22px;
  margin-top: 52px;
  margin-bottom: 35px;
}

.feed-list {
  padding: 40px 0px;
  box-sizing: border-box;
}

.feed-list li {
  max-width: 100%;
  min-width: 100%;
}

.feed-list a {
  box-sizing: border-box;
  display: block;
  padding: 2px 20px;
  text-decoration: none;
  color: $midGray;
  cursor: pointer;
  font-weight: 300;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.feed-list a:hover {
  background-color: $lightMidGray;
}

.article-index {
  position: relative;
  top: $topbarHeight;
  left: $sidebarWidth;
  right: 0px;
  width: calc(100vw - 270px);
  min-height: calc(100vh - 55px);
}

.backdrop {
  z-index: -1;
  position: fixed;
  top: $topbarHeight;
  left: $sidebarWidth;
  right: 0px;
  width: calc(100vw - 300px);
  height: calc(100vh - 55px);
  background-color: white;
}

.article {
  width: 100%;
  min-height: 70px;
  margin-bottom: 12px;
  box-sizing: border-box;
  padding-left: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  // box-shadow: 0px 0px 6px 1px $clearGrey;
}

.article-image {
  min-width: 100%;
  min-height: 100%;
}
.article-image-container {
  border-radius: 6px;
  box-shadow: 0px 0px 6px 1px $clearGrey;
  height: 80px;
  width: 140px;
  min-width: 140px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.article-enter {
  opacity: 0;
}

.article-enter.article-enter-active {
  opacity: 1;
  transition: opacity $fadeinTime ease-in-out;
}

.article-leave {
  opacity: 1;
}

.article-leave.article-leave-active {
  opacity: 0;
  transition: opacity $fadeoutTime ease-in-out;
}
