@import "colors";
@import "vars";

.list-ul {
  left: $sidebarWidth;
  top: $topbarHeight;
  right: 0px;
  position: relative;
}


.top-nav {
  z-index: 1;
  position: fixed;
  height: $topbarHeight;
  left: $sidebarWidth;
  top: 0px;
  right: 0px;
  background-color: pink;
  display: flex;
  justify-content: flex-end;
}

.loading-container {
  z-index: -2;
  position: fixed;
  top: $topbarHeight;
  left: $sidebarWidth;
  right: 0px;
  width: calc(100vw - 300px);
  height: calc(100vh - 55px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-widget {
  animation: spin 4s infinite linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
