@import "colors";

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;

  background: linear-gradient(to bottom right, $teal, $clear);

  margin-top: 55px;
  height: calc(100vh - 55px);
}

.form-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 70px;
  width: 300px;
  background-color: $white;
  border: 1px solid $lightGray;
  border-radius: 5px;
}

.form-container h4 {
  font-size: 25px;
}

.session-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.session-error {
  color: $red;
  font-weight: 300;
  text-align: center;
}

.form-container label {

  position: relative;
  height: 0px;
  top: 14px;
  color: $lightMidGray;
  font-size: 20px;
  font-weight: 300;
}

.form-container input {
  border: 1px solid $lightGray;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  font-size: 23px;
  padding: 10px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.form-container input:first-of-type {
  border-bottom: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.submit-button {
  font-weight: 300;
  border-style: solid;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s background-color ease;
  padding: 10px 20px;
  border: 1px solid $lightGray;
  border-radius: 7px;
  font-size: 20px;
  cursor: pointer;
  background-color: $teal;
  color: $white;
  margin-top: 30px;
}

.submit-button:hover {
  background-color: $darkTeal;
}
