$white: #fff;


$lighterGray: #F7F7F7;
$lightGray: #eee;
$midGray: #868689;
$darkGray: #393D3F;

$clearGrey: rgba(162, 162, 162, 0.23);

$teal: #93B7BE;
$darkTeal: #789EA5;


$darkBlue: #133C55;
$red: #CC2936;
