@import "colors";

body {
  font-family: 'Roboto', sans-serif;
  color: $darkGray;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
